name: Cocoapods

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: maxim-lobanov/setup-xcode@v1.1
      with:
        xcode-version: "12.3"
    - uses: actions/checkout@v2
    - name: Lint Cocoapods
      run: pod lib lint --allow-warnings
